{ config, pkgs, lib, ... }:

# This is an example of creating an optional gaming module
# You can enable/disable this in configuration.nix with:
# myconfig.gaming.enable = true;

{
  options.myconfig.gaming = {
    enable = lib.mkEnableOption "gaming support";
    
    enableSteam = lib.mkOption {
      type = lib.types.bool;
      default = true;
      description = "Enable Steam";
    };
    
    enableLutris = lib.mkOption {
      type = lib.types.bool;
      default = true;
      description = "Enable Lutris";
    };
  };

  config = lib.mkIf config.myconfig.gaming.enable {
    # Steam configuration
    programs.steam = lib.mkIf config.myconfig.gaming.enableSteam {
      enable = true;
      remotePlay.openFirewall = true;
      dedicatedServer.openFirewall = true;
      localNetworkGameTransfers.openFirewall = true;
    };

    # Gaming packages
    environment.systemPackages = with pkgs; [
      (lib.mkIf config.myconfig.gaming.enableLutris lutris)
      protonup-qt
      gamemode
      mangohud
    ];
    
    # Gaming-related kernel parameters
    boot.kernel.sysctl = {
      "vm.max_map_count" = 2147483642;
    };
  };
}
